.item {
    border-bottom: 1px solid #e5e7eb;
}

.item:last-of-type {
    border-bottom: none;
}

.users {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
}

.buttonsContainer {
    display: flex;
    gap: 12px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

.thead {
    background-color: #f3f4f6;
}

.nameCol {
    padding: 8px 12px;
    text-align: left;
}

.ageCol {
    padding: 8px 12px;
    text-align: right;
    width: 80px;
}